/* Counter 1 ---------------------------------- */
.counter-card {
    @include md {
        text-align: center;
    }

    &.style2 {
        .sub-title {
            margin-bottom: 10px;
        }

        .box-number {
            font-family: $title-font;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;

        }

        .box-text {
            font-family: $body-font;
            font-weight: 400;
            font-size: 16px;
            color: $body-color;
            margin-bottom: 0;
            max-width: 343px;

        }
    }

    &.style3 {
        .box-number {
            font-family: $title-font;
            font-weight: 700;
            font-size: 72px;
            line-height: 72px;

            @include lg {
                font-size: 52px;
                line-height: 52px;
            }

        }

        .box-text {}
    }

    &.style4 {
        min-width: 340px;
        height: 340px;
        padding: 114px 65px;
        border: 1px dashed #6C6D71;
        background-color: transparent;
        border-radius: 50%;
        text-align: center;

        @include xxl {
            min-width: 280px;
            height: 280px;
            padding: 80px 35px;
        }

        @include ml {
            min-width: 250px;
            padding: 80px 20px;
        }

        @include xl {
            min-width: 290px;
        }

        @include sm {
            min-width: 240px;
        }
        @media(max-width: 480px) {
            min-width: 100%;
        }

        &:nth-child(1) {
            margin-right: -20px;

            @include xxl {
                margin-right: 4px;
            }
        }

        &:nth-child(2) {
            margin-right: -20px;

            @include xxl {
                margin-right: 4px;
            }
        }

        &:nth-child(3) {
            margin-right: -20px;

            @include xxl {
                margin-right: 4px;
            }
        }

        &:nth-child(4) {
            margin-right: -20px;

            @include xxl {
                margin-right: 4px;
            }
        }

        &:nth-child(5) {
            margin-right: -20px;

            @include xxl {
                margin-right: 4px;
            }
        }

        &:nth-child(6) {
            margin-right: -20px;
        }

        .box-number {
            font-family: $title-font;
            font-weight: 400;
            font-size: 72px;
            line-height: 89px;
            color: #000000;
            margin-bottom: 15px;

            @include xxl {
                font-size: 62px;
                line-height: 77px;
            }
            &.style2 {
                font-family: $title-font2; 
            }
        }

        .box-text {
            position: relative;
            font-family: $title-font;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: normal;
            text-transform: uppercase;
            color: #000000;
            display: inline-block;
            border-top: 1px solid #D9D9D9;
            border-bottom: 1px solid #D9D9D9;
        }
    }

    &.style5 {
        min-width: 320px;
        height: 320px;
        padding: 104px 60px;
        background-color: #F8F8F8;
        border-radius: 50%;
        text-align: center;

        @include ml {
            min-width: 280px;
            height: 280px;
            padding: 70px 30px;
        }

        &:nth-child(1) {
            margin-right: -20px;
        }

        &:nth-child(2) {
            margin-right: -20px;
        }

        &:nth-child(3) {
            margin-right: -20px;
        }

        &:nth-child(4) {
            margin-right: -20px;
        }

        &:nth-child(5) {
            margin-right: -20px;
        }

        &:nth-child(6) {
            margin-right: -20px;
        }

        .box-number {
            font-family: $title-font;
            font-weight: 400;
            font-size: 72px;
            line-height: 89px;
            color: #000000;
            margin-bottom: 15px;

            @include ml {
                font-size: 52px;
                line-height: 62px;
            }
        }

        .box-text {
            position: relative;
            font-family: $title-font;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: normal;
            text-transform: uppercase;
            color: #000000;
            display: inline-block;
            border-top: 1px solid #D9D9D9;
            border-bottom: 1px solid #D9D9D9;
        }
    }
    

    &_wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.style2 {
            @include lg {
                display: grid;
                grid-template-columns: auto auto;
                gap: 50px;
            }

            @media(max-width: 480px) {
                display: flex;
                flex-direction: column;

            }
        }

        &.style3 {
            display: flex;
            justify-content: flex-start;
            gap: 60px;
            margin-bottom: 68px;

            @include ml {
                display: grid;
                grid-template-columns: auto auto;
                gap: 50px;
            }

            @include sm {
                display: flex;
                flex-direction: column;
                gap: 40px;
                margin-bottom: 0;
            }
        }

        &.style4 {
            @include xl {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 10px;
            }

            @include md {
                display: grid;
                grid-template-columns: auto auto;
                gap: 0px;
            }

            @include xs {
                display: flex;
                flex-direction: column;

            }
        }

        @include md {
            display: grid;
            grid-template-columns: auto auto;
            gap: 50px;
        }

        @include xs {
            display: flex;
            flex-direction: column;
        }
    }

    .box-icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        background-color: $theme-color;
        border-radius: 8px;

        @include ml {
            display: block;
            margin: auto auto 20px auto;
        }

        img {
            transition: all 0.4s ease-in-out;
        }
    }

    .box-number {
        font-family: $title-font2;
        font-weight: 400;
        font-size: 88px;
        line-height: 68px;
        letter-spacing: 0.02em;
        color: $black-color;
        margin-bottom: 0;

        @include lg {
            font-size: 60px;
            line-height: 60px;
        }

        @include sm {
            font-size: 50px;
        }

    }

    .box-text {
        font-family: $title-font;
        font-size: 24px;
        font-weight: 400;
        color: $body-color;
        margin-bottom: 0;

        @include md {
            font-size: 18px;
        }
    }
}

.counter-area2 {
    margin-top: 68px;
}