
.error-img {
	margin-right: -16%;
	margin-left: -23%;
	@include lg {
		margin: 0;
	}
}
.error-title {
    margin-bottom: 20px;
}
.error-text {
	font-size: 24px;
	color: $title-color;
    margin-bottom: 35px;
	max-width: 385px;
}

@include md {
	.error-title {
		margin-bottom: 15px;
	}
	.error-img {
		margin-bottom: 30px;
	}
	.error-text {
		margin-bottom: 25px;
	}
}

@include sm {
	.error-title {
		margin-bottom: 10px;
	}
}
