/* Processs card ------------------------*/
.processSlider {
    margin-right: -340px !important;

    @include lg {
        margin-right: 0 !important;
    }
}

.process-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 48px;
    z-index: 9;

    @include xl {
        gap: 25px;
    }

    @include sm {
        flex-direction: column;
    }

    .box-img {
        position: relative;
        min-width: 387px;
        z-index: 9;

        @include md {
            min-width: 300px;
        }

        @include sm {
            min-width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 500ms;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1) scaleY(1);
            transform-origin: center center;
        }
    }

    .box-step {
        font-family: $title-font2;
        font-weight: 400;
        font-size: 57px;
        margin-bottom: 5px;

        @media(max-width: 480px) {
            font-size: 48px;
        }
    }

    .box-text {
        font-size: 24px;
        margin-bottom: 50px;

        @media(max-width: 480px) {
            font-size: 20px;
        }

    }

    &:hover {
        .box-img {
            img {
                transform: perspective(2000px) rotateX(0.06deg) rotateY(0deg) scaleX(1.1) scaleY(1.1);
            }
        }
    }
}

/* process card end ---------------------------*/

/* process */

.process-item-area {
    position: relative;
    z-index: 2;

}

.process-item {
    display: flex;
    gap: 40px;

    @include md {
        flex-direction: column;
    }

    &:not(:last-child) {
        margin-bottom: 64px;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;

        @include md {
            flex-direction: column;
        }

        .process-number {
            left: auto;
            right: 0px; // adjust if needed 

            @media(max-width: 1699px) {
                // right: -20px;
            }
        }

        .box-content {
            text-align: right;
        }

        .box-text {
            margin-left: auto;
        }
    }

    .process-img {
        max-width: 748px;
    }

    .box-title {
        font-size: 40px;

        @include xl {
            font-size: 30px;
        }

        @include sm {
            font-size: 24px;
        }
    }

    .box-text {
        max-width: 498px;
        margin-bottom: 45px;
    }
}

.process-number {
    position: relative;
    min-width: 44px;
    height: 44px;
    top: 100px;
    left: 0;

    @include md {
        display: none;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        background-color: $title-color;
        left: 20px;
        width: 1px;
        height: 120px;
    }

    &:before {
        top: 50px;
    }

    &:after {
        bottom: 50px;
    }

    svg.progress-ring {
        transform: rotate(-90deg);
        width: 44px;
        height: 44px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress-ring__circle {
        fill: #F0F0F0;
        stroke: $title-color;
        stroke-width: 1;
        stroke-dasharray: 125.6;
        stroke-dashoffset: 125.6;
        transition: stroke-dashoffset 0.6s ease;
    }

    span {
        position: relative;
        z-index: 2;
        font-size: 16px;
        font-weight: 500;
        color: #02000F;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* When active, stroke fills */
.process-item.item-active .progress-ring__circle {
    stroke-dashoffset: 0;
}

.process-area {
    background-color: #F7F7F7;
}

.process-box {
    background-color: $white-color;
    border-radius: 16px;
    padding: 0px 37px 50px;
    margin-top: 48px;

    @media(max-width: 1899px) {
        padding: 0 30px 30px;
    }

    @include ml {
      //  padding: 0 20px 20px;
    }

    .box-number {
        font-family: $title-font;
        width: 120px;
        height: 120px;
        line-height: 120px;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #F0F0F0;
        border-radius: 100px;
        font-weight: 700;
        font-size: 72px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $title-color;
        color: transparent;
        transform: translateY(-48px);
    }

    .box-subtitle {
        font-family: $title-font;
        font-weight: 700;
        font-size: 24px;
        color: $theme-color;
        display: block;
        margin-bottom: 30px;

        @include xxl {
            font-size: 20px;
        }
    }

    .box-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;

        @include xxl {
            font-size: 30px;
            line-height: 40px;
        }

        @include xl {
            font-size: 24px;
            line-height: 34px;
        }
    }

    .box-text {
        margin-bottom: -0.3rem;
    }

}