.main-container {
    position: relative;
    cursor: url(../img/icon/cursor.svg), auto;
    z-index: 7;

    .image-container {
        height: 710px;
        overflow: hidden;
        position: relative;

        @include sm {
            height: 500px;
        }
    }
}

/*--------------video sec ------------------*/
.video-box1 {
    position: relative;
    z-index: 2;
    max-width: 1072px;
    height: 700px;
    display: block;
    margin: auto;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(2, 0, 15, 0.2), rgba(2, 0, 15, 0.2));
        z-index: -1;

    }

    .video-play-btn {
        background-color: transparent;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        i {
            font-size: 35px;
            color: $white-color;
        }
    }
}

.award-area {
    position: relative;
    z-index: 2;
    background-size: auto;
    background-repeat: repeat;
}

.award-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all 0.4s ease-in-out;

    @include lg {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        padding: 30px;
    }

    &_wrapp {
        display: flex;
        align-items: center;

        @include sm {
            display: block;
        }
    }

    .box-number {
        padding: 32px;

        @include sm {
            margin-bottom: 10px;
            padding: 0 0 10px 0;
        }
    }

    .number {
        font-family: $title-font;
        font-weight: 700;
        font-size: 24px;
        color: $title-color;
        margin-bottom: 0;
    }

    .box-content {
        padding: 32px 36px;

        @include lg {
            padding: 0px 0 0px 20px;
        }

        @include sm {
            padding: 20px 0 0px 0px;
        }
    }

    .box-icon {
        margin-bottom: 18px;
    }

    .box-img {
        opacity: 0;
        transition: all 0.4s ease-in-out;

        @include lg {
            opacity: 1;
        }

        img {
            width: 100%;
            transform: scale(0);
            transition: all 0.4s ease-in-out;

            @include lg {
                transform: scale(1);
            }
        }
    }

    .box-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    .box-desig {
        font-weight: 400;
        font-size: 16px;
        color: #6C6D71;
        margin-bottom: 0;

    }

    .description {
        max-width: 599px;
        display: block;
        margin-left: auto;
        margin-right: 90px;

        @include ml {
            max-width: 400px;
            margin-right: 30px;
        }

        @include lg {
            max-width: 100%;
            margin-right: 0;
        }
    }

    .icon-btn {
        line-height: 50px;

        img {
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            background-color: $title-color;
            border-color: $title-color;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }

    .box-btn {
        padding-right: 32px;
    }

    &:hover,
    &.hover-item.item-active {
        background-color: #F0F0F0;

        .box-img {
            opacity: 1;

            img {
                transform: scale(1);
            }
        }
    }
}

/* award-list-area -------------------------*/
.award-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 76px 224px 76px 76px;
    border-bottom: 1px solid rgba(108, 109, 113, 0.2);
    z-index: 2;

    &-area {
        border: 1px solid rgba(108, 109, 113, 0.2);
        overflow: hidden;
    }

    &:last-child {
        border-bottom: 1px solid transparent;
    }

    @include ml {
        padding: 50px 100px 50px 50px;
    }

    @include lg {
        padding: 40px;
        gap: 40px;
    }

    @include md {
        flex-direction: column;
    }

    &-area {
        //  border: 1px solid rgba(108, 109, 113, 0.2);
    }

    &_wrapp {
        display: flex;
        align-items: center;
        gap: 96px;

        @include xs {
            gap: 30px;
        }
    }

    .number {
        font-weight: 700;
        font-size: 72px;
        line-height: 96px;
        color: #6C6D71;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #6C6D71;

        @include xs {
            font-size: 52px;
            line-height: 76px;
        }
    }

    .box-img {
        position: absolute;
        left: 20%;
        top: 54%;
        width: 450px;
        height: 162px;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s ease-in-out;

        @include lg {
            display: none;
        }

        img {
            transform: translateY(-50%) rotate(0);
            transition: all 0.4s ease-in-out;
        }

        img {
            width: 450px;
            height: 130px;
            object-fit: cover;
        }

    }

    .box-title {
        font-size: 40px;
        margin-bottom: 0;

        @include lg {
            font-size: 30px;
        }
    }

    .description {
        max-width: 711px;
        display: block;
        margin-left: auto;
        margin-bottom: 0;

        @include ml {
            max-width: 500px;
        }
    }

    &:hover {

        .box-img {
            opacity: 1;

            img {
                transform: translateY(-50%) rotate(-20deg);

            }
        }
    }
}

/* video area */
.video-wrapp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .discount-wrapp {
        .play-btn>i {
            color: $white-color;
            font-size: 25px;
        }
    }

    .discount-tag {
        color: $white-color;
        min-height: 210px;
        min-width: 210px;

        span {
            --rotate-letter: 7deg;
            min-height: 100px;
            position: absolute;
            min-width: 100px;
            left: 27px;
            top: 0px;
        }
    }
}

.video-box2 {
    position: relative;
    z-index: 2;
    max-width: 1420px;
    height: 800px;

    @include xxl {
        max-width: 100%;
    }

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        z-index: -1;

    }

    @include sm {
        height: 500px;
    }
}

.video-image {
    position: relative;
    z-index: 3;
    text-align: right;
    margin-top: -280px;

    @include md {
        margin-bottom: 40px;
    }

    @include sm {
        margin-top: 30px;
    }
}

/* --------- material-item ---------------*/
.material-item {
    &.style1 {
        margin-top: -400px;

        @include lg {
            margin-top: 40px;
        }

        .material-title {

            span {
                width: 54px;
                height: 54px;
                background: #2C3E50;
                border-radius: 40px;
                display: inline-block;

                &:nth-child(2) {
                    margin-left: -8px;
                    background: #7F8C8D;
                }

                &:nth-child(3) {
                    margin-left: -13px;
                    background: #BDC3C7;
                }

                &:nth-child(4) {
                    margin-left: -16px;
                    background: #ECF0F1;
                    margin-right: 22px;
                }

            }
        }
    }

    &_wrapp {
        &:last-child {
            margin-right: 100px;

            @include md {
                margin-right: 0;
            }

            .material-title {

                span {
                    width: 54px;
                    height: 54px;
                    background: #2A2A2A;
                    border-radius: 40px;
                    display: inline-block;

                    &:nth-child(2) {
                        margin-left: -8px;
                        background: #707070;
                    }

                    &:nth-child(3) {
                        margin-left: -13px;
                        background: #B8B8B8;
                    }

                    &:nth-child(4) {
                        margin-left: -16px;
                        background: #E8E8E8;
                        margin-right: 22px;
                    }

                }
            }
        }

    }

    .material-title {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.24em;
        text-transform: uppercase;
        color: $white-color;
        margin-bottom: 0px;
        display: flex;
        align-items: center;

        span {
            width: 54px;
            height: 54px;
            background: #8B7355;
            border-radius: 40px;
            display: inline-block;

            &:nth-child(2) {
                margin-left: -8px;
                background: #DEB887;
            }

            &:nth-child(3) {
                margin-left: -13px;
                background: #F5DEB3;
            }

            &:nth-child(4) {
                margin-left: -16px;
                background: #FFF7E8;
                margin-right: 22px;
            }

        }
    }

    .box-img {
        margin-top: 40px;

        img {
            width: 100%;
        }
    }

    .box-content {
        margin-top: 40px;
        max-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: 80px;
    }

    .box-title {
        font-family: $title-font2;
        font-weight: 400;
        font-size: 32px;
        letter-spacing: 0.02em;
        color: $white-color;

    }

    .box-text {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.02em;
        color: $gray-color;
        margin-bottom: 0;
    }
}

.video-area {
    position: relative;
    z-index: 2;

    &.style2 {
        .box-title {
            top: 80px;
        }
    }

    .box-title {
        font-size: 88px;
        color: $title-color;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $title-color;
        position: absolute;
        top: 48px;
        z-index: 2;

        @include xs {
            font-size: 55px;
        }

        @include vxs {
            font-size: 45px;
        }

        &.style2 {
            top: unset;
            bottom: 38px;
            right: 7%;

            @media(max-width: 1699px) {
                right: 1%;
            }
        }
    }

    .slider-arrow {
        @include xxl {
            display: none !important;
        }
    }
}

.bs-hero-3-img {
    width: 600px;
    height: 400px;
    overflow: hidden;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.bs-hero-3-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 1s ease;
}

.video-area2 {
    z-index: 2;
    padding: 329px 0;
    min-height: 868px;

    @include sm {
        padding: 200px 0;
        min-height: 600px;
    }

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(6, 6, 6, 0.6), rgba(6, 6, 6, 0.6));
        z-index: -1;

    }
}

/*
work-item
*/
.work-wrapp {
    margin-left: -40px;
    margin-bottom: 0px;

    @media(max-width: 1499px) {
        margin-left: -145px;
    }

    @include lg {
        margin: 0;
    }
}

.work-item {
    position: relative;
    max-width: 360px;
    display: flex;
    gap: 14px;

    @include sm {
        max-width: 100%;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &:nth-child(2) {
        margin-left: 83px;

        @include sm {
            margin-left: 0;
        }
    }

    &:nth-child(3) {
        margin-left: 170px;

        @include sm {
            margin-left: 0;
        }
    }

    &:nth-child(4) {
        margin-left: 250px;

        @include sm {
            margin-left: 0;
        }
    }

    &:nth-child(5) {
        margin-left: 340px;

        @include sm {
            margin-left: 0;
        }
    }

    .number {
        font-family: $title-font2;
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0.02em;
        color: #999999;
    }

    .box-title {
        font-family: $title-font2;
    }

    .box-text {
        margin-bottom: 0;
    }
}

.work-image {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);

    @include lg {
        display: none;
    }


}

.border-line {}


/*  */

.choose-progress-bar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 24px;
    max-width: 750px;
    margin-left: 90px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        right: -30px;
        bottom: -60px;
        height: 654px;
        border-right: 2px dashed #D8DBDC;
    }


    @include xxl {
        margin-left: 0;
    }

    @media(max-width: 480px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .progress-bar {
        margin: 0;
        padding: 0;
        position: relative;
        width: 226px;

        background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 49.59%);

        &:nth-child(2) {
            .progress-fill {
                background-color: $theme-color;
            }

            .text {
                color: $white-color;
            }
        }

        &:nth-child(3) {
            .progress-fill {
                background-color: #F0F0E3;
            }

            .counter {
                color: #182009;
            }
        }
    }

    .progress-track {
        position: relative;
        width: 100%;
        height: 594px;
        background: linear-gradient(180deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 49.59%);
        border-radius: 0px;
    }

    .progress-fill {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #182009;
        width: 100%;
        height: 0;
        color: $white-color;
        padding: 20px 20px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        animation: grow 1s ease-in-out;
        transform-origin: bottom;

    }

    @keyframes grow {
        from {
            height: 0;
        }

        to {
            height: 100%;
        }
    }

    .counter {
        font-family: $title-font2;
        font-weight: 400;
        font-size: 74px;
        line-height: 96px;
        color: #FFFFFF;
        display: block;
    }

    .text {
        font-family: $title-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $body-color;
        white-space: normal;
        word-break: break-word;
    }
}

.choose-image2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.choose-bottom-line {
    border-bottom: 2px dashed #D8DBDC;

}



/**Typeo CSS End**/
.video-area3 {
    background-color: #F7F7F7;
}

.video-custom {
    position: relative;
    z-index: 2;
    border-radius: 24px 24px 0 0;
    max-height: 750px;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(2, 0, 15, 0.5), rgba(2, 0, 15, 0.5));
        z-index: 1;
        border-radius: 24px 24px 0 0;
    }

    .poster-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px 24px 0 0;
    }

    video {
        position: absolute;
        inset: 0;
        display: block;
        width: 100%;
        max-width: 1620px;
        max-height: 750px;
        height: 100%;
        height: 100vh;
        object-fit: cover;
        border-radius: 24px 24px 0 0;
        opacity: 0;

        source {
            width: 100%;
        }
    }

    video:-webkit-full-page-media {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .play-btn,
    .pause-btn {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        margin: auto;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: $theme-color;
        z-index: 9;
        cursor: pointer;
        transition: 0.5s all;
        overflow: hidden;

        &:before,
        &:after {
            display: none;
        }

        &:hover {
            background-color: $title-color;
        }

        >i {
            background-color: transparent;
        }
    }

    .pause-btn {
        display: none;
    }
}

.video-custom .play-btn i {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 18px solid #fff;
    border-right: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    border-radius: 0;
}

.pause-btn i {
    position: absolute;
    left: -3px;
    right: 0px;
    bottom: 0px;
    top: 2px;
    margin: auto;
    width: 16px;
    height: 24px;
    flex-flow: row wrap;
}

.pause-btn i:before {
    content: '';
    width: 4px;
    height: 100%;
    background-color: #fff;
    display: inline-block;
}

.pause-btn i:after {
    content: '';
    width: 4px;
    height: 100%;
    margin-left: 8px;
    background-color: #fff;
    display: inline-block;
}

.playvideo .video-custom img {
    opacity: 0;
}

.playvideo .video-custom video {
    opacity: 1;
}

.video-custom .vplay {
    display: none;
}

.video-custom:hover .vplay+.pause-btn {
    display: block;
}

/***Volume Control***/
html:not(.playvideo) .sound-ctrl {
    display: none;
}

.sound-ctrl {
    position: absolute;
    z-index: 2;
    right: 14px;
    bottom: 5px;
    cursor: pointer;
}

.sound-ctrl .on-button {
    display: none;
}

.sound-ctrl img {
    opacity: 0;
}

.sound-ctrl .off-button,
.sound-ctrl .on-button {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 0px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0px;
    cursor: pointer;
}

.soundctrlshow .on-button {
    display: block;
}

.soundctrlshow .off-button {
    display: none;
}

.playvideo .video-custom .sound-ctrl img {
    opacity: 1;
}

.soundctrlshow .on-button:before {
    content: '';
    position: absolute;
    left: 12px;
    top: -5px;
    z-index: 10;
    width: 3px;
    height: 32px;
    background-color: #fff;
    transform: rotate(45deg);
}

/***Volume Control***/
@media(max-width:800px) {
    .video-custom {
        width: calc(100% - 20px);
    }

}

.video-img {
    position: relative;
    z-index: 2;

    img {
        border-radius: 80px;
    }

    .video-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;

        i {
            font-size: 18px;
            color: $white-color;
        }

    }
}


.video-thumb3-1 {
    text-align: center;
    position: relative;

    .video-play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        background-color: $theme-color;
        color: $white-color;

        i {
            color: $white-color;
        }
    }

    .video-trigger-thumb {
        position: relative;
        border-radius: 24px;
        width: 798px;
        height: 750px;
        object-fit: cover;
        top: 0;
        display: inline-block;
        @include sm {
            border-radius: 0 !important;
        }
    }

}